@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&family=Manrope:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;

  --color-surface-container: #e6e8ea;
  --color-on-error-container: #570008;
  --color-surface-tint: #a63300;
  --color-surface-container-high: #e0e3e4;
  --color-primary-fixed-dim: #f7652f;
  --color-on-secondary-fixed: #00336b;
  --color-error-container: #fb5151;
  --color-on-primary-fixed: #000000;
  --color-secondary-fixed-dim: #a5c5ff;
  --color-secondary-dim: #004e9d;
  --color-inverse-surface: #0c0f10;
  --color-on-tertiary: #ffeefc;
  --color-on-background: #2c2f30;
  --color-on-surface: #2c2f30;
  --color-on-tertiary-container: #5e1470;
  --color-surface-bright: #f5f6f7;
  --color-inverse-on-surface: #9b9d9e;
  --color-surface: #f5f6f7;
  --color-secondary-container: #bcd2ff;
  --color-surface-container-highest: #dadddf;
  --color-primary-container: #ff7949;
  --color-surface-variant: #dadddf;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-fixed-dim: #e190f1;
  --color-primary-dim: #922c00;
  --color-error-dim: #9f0519;
  --color-on-secondary-fixed-variant: #004f9e;
  --color-on-tertiary-fixed-variant: #681f7a;
  --color-primary-fixed: #ff7949;
  --color-on-tertiary-fixed: #400050;
  --color-secondary: #005ab2;
  --color-primary: #a63300;
  --color-tertiary-fixed: #ef9dff;
  --color-on-surface-variant: #595c5d;
  --color-on-primary-fixed-variant: #551600;
  --color-secondary-fixed: #bcd2ff;
  --color-on-secondary: #eff2ff;
  --color-tertiary-container: #ef9dff;
  --color-surface-container-low: #eff1f2;
  --color-error: #b31b25;
  --color-tertiary-dim: #78308a;
  --color-on-primary: #ffefeb;
  --color-on-primary-container: #451000;
  --color-background: #f5f6f7;
  --color-inverse-primary: #fe6a34;
  --color-tertiary: #853d97;
  --color-surface-dim: #d1d5d7;
  --color-on-secondary-container: #00468e;
  --color-outline: #757778;
  --color-outline-variant: #abadae;
  --color-on-error: #ffefee;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body;
  }
}

.text-glow {
  text-shadow: 0 0 20px rgba(166, 51, 0, 0.2);
}
